body {
            font-family: 'Nunito Sans', sans-serif;
        }

        .menu {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
        }



        .logo {
            text-align: left;
            flex-grow: 3;
            font-weight: 800;
            color: #3735C4;
            margin: 50px;
            font-size: 30px;
        }

        .linksMenu {
            margin: 50px;
            font-weight: 200;
            font-size: 20px;
            color: gray;
            font-weight: 600;
        }

        .boton {
            height: 60px;
            padding: 10px 24px 12px 28px;
            font-family: 'Nunito';
            border: 0;
            border-radius: 7px;
            background-color: #3735C4;
            color: white;
            font-size: 20px;
        }

        .seccion1 {
            display: flex;
            justify-content: center;
            padding: 0px 50px;
            gap: 20px;
        }

        .fight {
            padding: 50px;
        }

        .logosVacuna {
            display: flex;
            justify-content: center;
            gap: 20px;
        }



        h1 {
            font-size: 60px;
            font-weight: bold;
            color: #3A5177;
        }

        p {
            font-size: 20px;
        }